.AppGeneral {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 46px min(100dvh - 46px);
  padding-right: 12px;
  width: 100dvw;
  box-sizing: border-box;
}
.AppGeneral__Outlet {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: var(--block-color-1);
  overflow: hidden;
}