.HomeFiltering{
  display: flex;
  flex-direction: column;
}
.HomeFiltering__Element{
  margin-top: 5px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.HomeFiltering__Label{
  color: #005582;
  font-size: 25px;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}